################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/server/src/KryptoKickStake.Api/Properties/launchSettings.json
